*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 13px 29px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 50px;
  border: none;
  margin: auto;
  cursor: pointer;
  box-shadow: 4px 4px 6px rgb(170, 170, 170);
  background-image: linear-gradient(0deg, hsl(267deg, 65%, 60%), hsl(300deg, 100%, 73%));
}
button:hover {
  opacity: 0.8;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load 5s forwards;
}

.lettres {
  color: hsl(267deg, 65%, 60%);
  font-size: 3.125rem;
  font-family: "Shrikhand", cursive;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
  animation-iteration-count: 3;
}

@keyframes flash {
  0% {
    color: hsl(267deg, 65%, 60%);
  }
  90% {
    color: hsl(300deg, 100%, 73%);
  }
  100% {
    color: hsl(267deg, 65%, 60%);
  }
}
.lettres:nth-child(1) {
  animation-delay: 0.1s;
}

.lettres:nth-child(2) {
  animation-delay: 0.2s;
}

.lettres:nth-child(3) {
  animation-delay: 0.3s;
}

.lettres:nth-child(4) {
  animation-delay: 0.4s;
}

.lettres:nth-child(5) {
  animation-delay: 0.5s;
}

.lettres:nth-child(6) {
  animation-delay: 0.6s;
}

.lettres:nth-child(7) {
  animation-delay: 0.7s;
}

.lettres:nth-child(8) {
  animation-delay: 0.8s;
}

@keyframes load {
  0% {
    opacity: 1;
    z-index: 1;
  }
  90% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.title {
  padding: 24px 24px 5px 24px;
  text-align: center;
  font-family: "Shrikhand", cursive;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Shrikhand", cursive;
  margin-top: 20px;
  margin-bottom: 5px;
}

.arrow {
  position: absolute;
  left: 20px;
}
.arrow i {
  font-weight: 900;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background: #181818;
  color: #fff;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 1.3rem;
}
footer a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 50px;
  }
}
@media screen and (min-width: 992px) {
  footer ul {
    max-width: 80%;
  }
}
footer li {
  list-style: none;
}
footer i {
  margin-right: 10px;
}

footer .fa-handshake-angle {
  transform: translateX(-5px);
  font-size: 14px;
  margin: 3px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 18px;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  box-shadow: inset 0px 8px 6px -6px rgb(146, 145, 145);
}
.location i {
  font-size: 1.06rem;
}
.location h2 {
  font-size: 1rem;
}

.explore {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 20px 10px 60px 10px;
  background-color: #f7f5f5;
}
.explore__text {
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 25px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 48px 16px 48px 24px;
  font-family: "Roboto", sans-serif;
  counter-reset: stepList;
}
@media screen and (min-width: 768px) {
  .options {
    max-width: 1500px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .options__all {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .options__title {
    text-align: center;
    padding-bottom: 10px;
  }
}

.options__choice {
  display: flex;
  position: relative;
  padding: 26px 19px 26px 30px;
  margin-bottom: 25px;
  gap: 15px;
  border-radius: 25px;
  background-color: #f7f5f5;
  box-shadow: 4px 4px 6px rgb(170, 170, 170);
  font-weight: 500;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .options__choice {
    margin-right: 30px;
  }
}
.options__choice i {
  opacity: 0.5;
}
.options__choice::before {
  position: absolute;
  left: -10px;
  counter-increment: stepList 1;
  content: counter(stepList) " ";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(267deg, 65%, 60%);
  border-radius: 100px;
  width: 22px;
  height: 22px;
  color: white;
}
.options__choice:hover {
  background-color: rgba(112, 69, 165, 0.1647058824);
}
.options__choice:hover i {
  color: hsl(267deg, 65%, 60%);
  opacity: 1;
}

.restaurant_listing {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 48px 25px;
  background: #f7f5f5;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  .restaurant__title1 {
    text-align: center;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .cards {
    justify-content: center;
    margin: 30px auto;
    gap: 50px;
  }
}

.card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgb(170, 170, 170);
  text-decoration: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card {
    max-width: 325px;
  }
}
@media screen and (min-width: 992px) {
  .card {
    max-width: 437px;
  }
}
.card__img {
  object-fit: cover;
  height: 160px;
  width: 100%;
  background: #fff;
  border-radius: 20px 20px 0 0;
}
@media screen and (min-width: 992px) {
  .card__img {
    height: 230px;
  }
}
.card__text {
  padding: 12px 14px;
  gap: 6px;
}
.card__text p {
  margin-top: 5px;
}
.card__heart {
  position: relative;
}
.card__heart i {
  position: absolute;
  right: 16px;
  top: -40px;
  font-size: 1.5rem;
}
.card__heart i:hover {
  transform: scale(1.3);
  background-image: linear-gradient(0deg, hsl(267deg, 65%, 60%), hsl(300deg, 100%, 73%));
  background-clip: text;
  -webkit-background-clip: text;
}

.heart__solid {
  color: transparent;
  transition: ease-out all 0.5s;
}

.new {
  position: relative;
}
.new::after {
  content: "Nouveau";
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: hsl(165deg, 55%, 74%);
  color: green;
  padding: 5px 15px;
  font-weight: 500;
}

.photo-menu {
  object-fit: cover;
  height: 250px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .photo-menu {
    height: 400px;
  }
}
@media screen and (min-width: 992px) {
  .photo-menu {
    height: 500px;
  }
}

.restaurant {
  position: relative;
  background-color: #dddbdb;
  padding: 32px 16px;
  margin-top: -50px;
  border-radius: 25px 25px 0 0;
}
@media screen and (min-width: 992px) {
  .restaurant {
    max-width: 992px;
    margin: 0 auto;
    margin-top: -50px;
  }
}
.restaurant__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
}

.heart-menu {
  top: 28px;
  cursor: pointer;
}

.menu__cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.menu__cards h3 {
  font-weight: 400;
  margin-top: 30px;
  margin-left: 5px;
}

.menu__cards h3::after {
  content: "";
  display: block;
  width: 46px;
  height: 3px;
  margin-top: 8px;
  background-color: hsl(165deg, 55%, 74%);
}

.menu__card {
  display: flex;
  box-shadow: 4px 4px 6px rgb(170, 170, 170);
  border-radius: 15px;
  background-color: #f7f5f5;
  overflow: hidden;
}
.menu__card-all {
  flex-grow: 1;
  gap: 16px;
  padding: 14px;
  overflow: hidden;
}
.menu__card-title {
  margin-bottom: 10px;
}
.menu__card-title h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__card-price {
  display: flex;
  justify-content: space-between;
}
.menu__card-p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card-number {
  padding-left: 20px;
}
.menu__card-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: auto;
  background-color: hsl(165deg, 55%, 74%);
  opacity: 0;
  transition: 0.5s;
}

.menu__card:hover .menu__card-check {
  width: 60px;
  opacity: 1;
}

.menu__card:hover .fa-circle-check {
  animation: rotate 0.4s ease-out 0.1s forwards;
}

.fa-circle-check {
  color: white;
  font-size: 25px;
}

.menu__card:hover .menu__card-text {
  width: 150px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu__button {
  display: block;
  margin-top: 55px;
  margin-bottom: 30px;
}

.card1 {
  animation: menu-delay 0.5s;
}

.card2 {
  animation: menu-delay 1s;
}

.card3 {
  animation: menu-delay 1.5s;
}

.card4 {
  animation: menu-delay 2s;
}

.card5 {
  animation: menu-delay 2.5s;
}

.card6 {
  animation: menu-delay 3s;
}

.card7 {
  animation: menu-delay 3.5s;
}

.card8 {
  animation: menu-delay 4s;
}

.card9 {
  animation: menu-delay 4.5s;
}

.card10 {
  animation: menu-delay 5s;
}

@keyframes menu-delay {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=style.css.map */
