.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    @include flex-center;
    animation: load 5s forwards;
}
.lettres {
    color: $color-prim;
    font-size: 3.125rem;
    font-family: $font-secondary;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
    animation-iteration-count: 3;
}
@keyframes flash {
    0%{
        color: $color-prim;
    }
    90%{
        color: $color-sec;
    }
    100%{
        color: $color-prim;
    }
}
.lettres:nth-child(1) {
    animation-delay: 0.1s;
}
.lettres:nth-child(2) {
    animation-delay: 0.2s;
}
.lettres:nth-child(3) {
    animation-delay: 0.3s;
}
.lettres:nth-child(4) {
    animation-delay: 0.4s;
}
.lettres:nth-child(5) {
    animation-delay: 0.5s;
}
.lettres:nth-child(6) {
    animation-delay: 0.6s;
}
.lettres:nth-child(7) {
    animation-delay: 0.7s;
}
.lettres:nth-child(8) {
    animation-delay: 0.8s;
}
@keyframes load {
   0%{
    opacity: 1;
    z-index: 1;
   }
   90%{
    opacity: 1;
    z-index: 1;
   }
   100%{
    opacity: 0;
    z-index: -1;
   }
}