$font-primary: "Roboto", sans-serif;
$font-secondary: "Shrikhand", cursive;

$color-prim: hsl(267, 65%, 60%);
$color-sec: hsl(300, 100%, 73%);
$color-ter: hsl(165, 55%, 74%);

$box-shadow: 4px 6px 7px rgb(231, 231, 231);
$box-shadow-hover: 5px 5px 6px rgb(241, 241, 241);
