$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;

$color-prim: hsl(267, 65%, 60%);
$color-sec: hsl(300, 100%, 73%);
$color-ter: hsl(165, 55%, 74%);

$box-shadow: 4px 4px 6px rgb(170, 170, 170);