.location {
  @include flex-center;
  padding: 15px;
  gap: 18px;
  font-family: $font-primary;
  background-color: #e5e5e5;
  box-shadow: inset 0px 8px 6px -6px rgb(146, 145, 145);
  i {
    font-size: 1.06rem;
  }
  h2 {
    font-size: 1rem;
  }
}

.explore {
  font-family: $font-primary;
  text-align: center;
  padding: 20px 10px 60px 10px;
  background-color: #f7f5f5;
  &__text {
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

.options {
  @include flex-column;
  gap: 20px;
  padding: 48px 16px 48px 24px;
  font-family: $font-primary;
  counter-reset: stepList;
  @include tablette {
    max-width: 973px;
    margin: auto;
  }
  @include desktop {
    max-width: 1032px;
  }
}

.options__all {
  @include tablette {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.options__title {
  @include tablette {
    text-align: center;
    padding-bottom: 10px;
  }
}

.options__choice {
  display: flex;
  position: relative;
  padding: 26px 19px 26px 30px;
  margin-bottom: 25px;
  gap: 15px;
  border-radius: 25px;
  background-color: #f7f5f5;
  box-shadow: $box-shadow;
  font-weight: 500;
  cursor: pointer;
    @include tablette {
     margin-right: 30px;
    }
  i {
    opacity: 0.5;
  }

  &::before {
    position: absolute;
    left: -10px;
    counter-increment: stepList 1;
    content: counter(stepList) " ";
    @include flex-center;
    background-color: $color-prim;
    border-radius: 100px;
    width: 22px;
    height: 22px;
    color: white;
  }

  &:hover {
    background-color: #7045a52a;
  }

  &:hover i {
    color: $color-prim;
    opacity: 1;
  }
}

.restaurant_listing {
  @include flex-column;
  font-family: $font-primary;
  padding: 48px 25px;
  background: #f7f5f5;
  gap: 25px;
}

.restaurant__title1 {
  @include tablette {
    text-align: center
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
    @include tablette {
      justify-content: center;
      margin: 30px auto;
      gap: 50px;
    }
}

.card {
  background: #fff;
  border-radius: 20px;
  box-shadow: $box-shadow;
  text-decoration: none;
  width: 100%;
    @include tablette {
      max-width: 325px;
    }
    @include desktop {
      max-width: 437px;
    }

  &__img {
    object-fit: cover;
    height: 160px;
    width: 100%;
    background: #fff;
    border-radius: 20px 20px 0 0;
      @include desktop {
        height: 230px;
      }
  }

  &__text {
    padding: 12px 14px;
    gap: 6px;
  }

  &__text p {
    margin-top: 5px;
  }

  &__heart {
    position: relative;
    i {
      position: absolute;
      right: 16px;
      top: -40px;
      font-size: 1.5rem;
    }
    i:hover {
      transform: scale(1.4);
      background-image: linear-gradient(0deg, $color-prim, $color-sec);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}

.heart__solid {
  color: transparent;
  transition: ease-out all 0.5s;
}

.new {
  position: relative;
  &::after {
    content: 'Nouveau';
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: $color-ter;
    color: green;
    padding: 5px 15px;
    font-weight: 500;
  }
}