body {
  width: 100%;
}

.photo-menu {
  object-fit: cover;
  height: 250px;
  width: 100%;
  @include tablette {
    height: 400px;
  }
  @include desktop {
    height: 500px;
  }
}

.restaurant {
  position: relative;
  background-color: #dddbdb;
  padding: 32px 16px;
  margin-top: -50px;
  border-radius: 25px 25px 0 0;
  @include desktop {
    max-width: 992px;
    margin: 0 auto;
    margin-top: -50px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-secondary;
  }
}

.heart-menu {
  top: 28px;
  cursor: pointer;
}

.menu__cards {
  @include flex-column;
  gap: 15px;
  font-family: $font-primary;
  cursor: pointer;

  h3 {
    font-weight: 400;
    margin-top: 30px;
    margin-left: 5px;
  }
}

.menu__cards h3::after {
  content: "";
  display: block;
  width: 46px;
  height: 3px;
  margin-top: 8px;
  background-color: $color-ter;
}

.menu__card {
  display: flex;
  box-shadow: $box-shadow;
  border-radius: 15px;
  background-color: #f7f5f5;
  overflow: hidden;
}

.menu__card-all {
  flex-grow: 1;
  gap: 16px;
  padding: 14px;
  overflow: hidden;
}

.menu__card-title {
  margin-bottom: 10px;

  h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.menu__card-price {
  display: flex;
  justify-content: space-between;
}

.menu__card-p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__card-number {
  padding-left: 20px;
}

.menu__card-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: auto;
  background-color: $color-ter;
  opacity: 0;
  transition: 0.5s;
}

.menu__card:hover .menu__card-check {
  width: 60px;
  opacity: 1;
}

.menu__card:hover .fa-circle-check {
  animation: rotate 0.4s ease-out 0.1s forwards;
}

.fa-circle-check {
  color: white;
  font-size: 25px;
}

.menu__card:hover .menu__card-text {
  width: 150px;

}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.menu__button {
  display: block;
  margin-top: 55px;
  margin-bottom: 30px;
}

.card1 {
  animation: menu-delay 0.5s;
}

.card2 {
  animation: menu-delay 1s;
}

.card3 {
  animation: menu-delay 1.5s;
}

.card4 {
  animation: menu-delay 2s;
}

.card5 {
  animation: menu-delay 2.5s;
}

.card6 {
  animation: menu-delay 3s;
}

.card7 {
  animation: menu-delay 3.5s;
}

.card8 {
  animation: menu-delay 4s;
}

.card9 {
  animation: menu-delay 4.5s;
}

@keyframes menu-delay {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}